<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product details</title>
</head>
<body>
<h1> Product Created </h1>
  <ul>
      <li>{{ prod.product_name }}</li>
      <li>{{ prod.product_discount }}</li>
      <li>{{ prod.product_count}}</li>
      <li>{{ prod.product_price }}</li>
  </ul>
<a href="#" class="btn btn-default">Update  </a>
<a href="http://127.0.0.1:8000/sales/product/create/" class="btn btn-primary">Create product  </a>
<a href="#" class="btn btn-success">Delete </a>
<a href="http://127.0.0.1:8000/sales/product/list/" class="btn btn-info">List of all products  </a>
</body>
</html>